*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --cor-primaria: darkblue;
    --cor-secundaria: white;
    --cor-terceira: gray;
    

}

nav{
    background-color: var(--cor-primaria)
    padding: 10px;
}
nav  a{ 
    color: var(--cor-secundaria)
    display: block;
    padding: 20px;
}
h1 {color: var(--cor-primaria)}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px var(--cor-terceira)
    padding: 10px;
}
p {
    padding: 0;
}
aside {
       width: 20rem;
       margin: 1em;
       border: 1px solid var(--cor-terceira)
       padding: 1em;
       background-color: bisque;
       color: rgb(1, 31, 31);

}
aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 5px solid green;
    text-align: center;
}
/* ===== Seletores de Classe ===== */

.caixa {
    position: relative;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #333;
    background-color: #f4f4f4;
    color: #222;